@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-image: url("../images/bg-intro-mobile.png");
  background-position: center;
  // background-repeat: no-repeat;
  background-size: contain;
  background-color: $red;
  @include centerFlexCol;

  @media only screen and (min-width: 1024px) {
    background-image: url("../images/bg-intro-desktop.png");
    background-size: cover;
  }
}

main {
  @include centerFlexCol;
  gap: 50px;
  padding: 25px;
  max-width: 630px;
  width: 100%;

  @media only screen and (min-width: 1024px) {
    flex-direction: row;
    max-width: 1100px;
    gap: 30px;
  }
}

.intro {
  color: #fff;
  text-align: center;
  &__title {
    font-size: 1.75rem;
    line-height: 1.25;
    margin-bottom: 20px;
    font-weight: 600;
    @media only screen and (min-width: 1024px) {
      font-size: 2.5rem;
      font-weight: 700;
    }
  }
  &__description {
    font-weight: 500;
  }

  @media only screen and (min-width: 1024px) {
    width: 50%;
    text-align: left;
  }
}

.form-container {
  width: 100%;
  @media only screen and (min-width: 1024px) {
    flex: 1;
  }
  &__banner {
    background: $bannerColor;
    padding: 15px 50px;
    text-align: center;
    border-radius: 10px;
    color: $grayishBlue;
    box-shadow: $boxShadow;
    margin-bottom: 25px;
    span {
      font-weight: 700;
      color: #fff;
    }
  }

  &__form {
    @include centerFlexCol;
    background: #fff;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: $boxShadow;

    @media only screen and (min-width: 1024px) {
      padding: 6%;
    }

    input {
      width: 100%;
      padding: 15px;
      border-radius: 8px;
      outline: none;
      border: 1px solid $grayishBlue;
      font-weight: 600;
    }

    input:focus {
      border-color: $bannerColor;
    }

    button {
      width: 100%;
      padding: 12px;
      border: none;
      outline: none;
      border-radius: 8px;
      background: $btnColor;
      color: #fff;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 1px;
      box-shadow: 0 5px #3ebd86;
    }

    .terms {
      text-align: center;
      color: $grayishBlue;
      font-size: 0.75rem;
      padding: 0 15px;
      font-weight: 500;
      margin-bottom: 10px;

      .tos {
        font-weight: 700;
        color: $red;
      }
    }
  }
}
